<p>
  <strong>Title:</strong>
  <%= @tutor_search.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @tutor_search.text %>
</p>

<%= link_to 'Back to Tutor Searches', tutor_searches_path %>
<%= link_to 'Back to Main Page', root_path %>
